.slider {
  appearance: none;
  -webkit-appearance: none;
  height: 1rem;
}

.slider::-moz-range-thumb {
  width: 1ch;
  height: 1rem;
  border: none;
  border-radius: 0px;
}

.slider::-ms-thumb {
  width: 1ch;
  height: 1rem;
  border: none;
  border-radius: 0px;
}

button {
  background-color: transparent;
  border: none;
  color: inherit;
}
