.slider {
  appearance: none;
  -webkit-appearance: none;
}

.slider::-moz-range-thumb {
  width: 1ch;
  border: none;
  border-radius: 0px;
}

.slider::-ms-thumb {
  width: 1ch;
  border: none;
  border-radius: 0px;
}

.playbackButton {
  background-color: transparent;
  border: none;
  color: inherit;
  width: 4ch;
  text-align: center;
  font-size: 3rem;
}
